@model CreateDiscountDto
@{
    ViewData["Title"] = "CreateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Günün İndirimleri İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni İndirimli Ürün</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title">Ürün Adı</label>
								<input type="text" class="form-control" asp-for="Title" id="Title">
							</div>
							<div class="form-group">
								<label for="amount">İndirim Oranı</label>
								<input type="text" class="form-control" asp-for="Amount" id="amount">
							</div>
							<div class="form-group">
								<label for="imageUrl">Görsel</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="imageUrl"></>
							</div>
							<div class="form-group">
								<label for="description">Açıklama</label>
								<input type="text" class="form-control" asp-for="Description" id="description"></>
							</div>
						</div>
						<div class="card-action">
							<button type="submit" class="btn btn-success">Ürünü Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

