@{
	Layout = null;
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<style>
	.active-users {
		position: fixed;
		top: 60px; /* Daha aşağıya konumlandırmak için */
		right: 40px; /* Sağdan biraz boşluk */
		background-color: goldenrod; /* Arka plan */
		color: #fff; /* Beyaz yazı */
		border-radius: 50%; /* Yuvarlak */
		width: 100px; /* Daha geniş yuvarlak */
		height: 100px; /* Yüksekliği de artır */
		display: flex;
		flex-direction: column; /* İçerikleri dikey hizala */
		align-items: center; /* Ortaya hizala */
		justify-content: center; /* Ortaya hizala */
		font-size: 1rem; /* Yazı boyutunu ayarla */
		font-weight: bold;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		text-align: center; /* Yazıyı ortala */
	}

		.active-users div#clientcountvalue {
			font-size: 1.5rem; /* Sayıyı vurgula */
		}

		.active-users p {
			margin: 0;
			font-size: 0.8rem;
		}
</style>




<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")


<body class="sub_page">

	@await Component.InvokeAsync("_MenuNavbarComponentPartial")

	<section class="food_section layout_padding">
		<div class="container">

			<script type="text/javascript">

				$(document).ready(() => {

					var connection =new signalR.HubConnectionBuilder().withUrl("https://localhost:7191/SignalRHub").build();
					$("#connstatus").text(connection.state);

					connection.start().then(() => {
						$("#connstatus").text(connection.state);
						}).catch((err)=>{console.log(err)});

						connection.on("ReceiveClientCount", (clientcount) => {
							$("#clientcountvalue").text(clientcount);
						});
					});
			</script>

			<div class="active-users">
				<div>
					<div id="clientcountvalue">0</div>
					<p>Aktif Kullanıcı</p>
				</div>
			</div>


			<div class="container mt-5">
				<div class="row">
					<div class="col-12">
						<h3 class="text-center mb-4">Restaurant Anlık Mesajlaşma</h3>
					</div>
				</div>

				<div class="row p-1">
					<div class="col-2">Kullanıcı Adınız:</div>
					<div class="col-5">
						<input type="text" id="userinput" class="form-control" />
					</div>
				</div>

				<div class="row p-1">
					<div class="col-2">Mesajınız:</div>
					<div class="col-5">
						<input type="text" id="messageinput" class="form-control" />
					</div>
				</div>

				<div class="row p-1">
					<div class="col-2"></div>
					<div class="col-3">
						<input type="button" id="sendbutton" value="Gönder" class="btn btn-warning" />
					</div>
				</div>

				<div class="row p-1">
					<div class="col-12">
						<hr />
					</div>
				</div>

				<div class="row p-1">
					<div class="col-12">
						<ul id="messagelist" class="list-group"></ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	@await Component.InvokeAsync("_UILayoutFooterComponentPartial")

	@await Component.InvokeAsync("_UILayoutScriptComponentPartial")

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
	<script src="~/js/chat.js"></script>

</body>

</html>

